<h1>Bienvenue dans notre première application Angular!</h1>
<nav>
    <ul>
        <li>
            <a routerLink="/home">
                <div>Lien 1</div>
            </a>
        </li>
        <li>
            <a routerLink="/home/coucou">
                <div>Lien 2</div>
            </a>
        </li>
        <li>
            <a routerLink="/two-way">
                <div>Bindings Two Way</div>
            </a>
        </li>
        <li>
            <a routerLink="/event">
                <div>Bindings Event</div>
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>